
#home-text{
  text-align: center;
  color: gray;
  text-decoration: underline;
  font-family: 'Roboto';
}

#bg {
  height: 700px;
  background-color: #cccccc;
  background-image: url('./images/barbershop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
